<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{dashboard/layout}"
        lang="en">

<head>
<body>
<div layout:fragment="content">
    <div class="container">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-lg-8">
                <div class="form-group">
                    <input th:value="${article.title}" name="title" class="form-control" placeholder="Title" />
                </div>

                <div class="form-group">
                    <textarea th:text="${article.editor1}" name="editor1" class="form-control" placeholder="Description" ></textarea>
                </div>
                <div class="form-group">
                    <select name="categoryId" class="form-control">
                        <option th:value="${category.id}" th:each="category : ${categories}" th:text="${category.name}" th:selected="${category.id == article.categoryId}">Telefonlar</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="tags" class="form-control" multiple>
                        <option th:each="tag : ${tags}" th:text="${tag.name}" th:value="${tag.id}">Telefonlar</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <img th:src="${article.photoUrl}" class="img-fluid" />
                <input type="hidden" th:value="${article.photoUrl}" name="photoUrl" />
                <div class="form-group">
                    <input name="file" type="file" class="form-control" placeholder="Photo url" />
                </div>
            </div>

            <input type="submit" class="btn btn-warning" value="Update">
        </form>
    </div>
</div>


</body>
</html>